%h1 Все Юридические лица
%table
  %thead
    %tr
      %th Название
      %th Доходность
      %th 

  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to company.name, company
        %td= "%05.2f%" % (company.loan.income_percent*100)
        %td
          = link_to company, method: :delete, data: { confirm: 'Вы уверены что хотите удалить ЮЛ?' } do
            %i.fa.fa-close{style: 'color:red'}

%br

= link_to 'Добавить', new_company_path
